*{
    margin:3;
    padding: 1;
    font-family: Arial;
    
    border: border-box;
    border-radius: 5px;
}    

 .navbar{
    height: 120px;
    background-color: #272727;
    color: whitesmoke;
    display: flex;
    align-items: center;
 }

.nav-logo{
    height: 105px;
    width:190px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0;

}

.logo{
    background-image: url("img/LOGO.png");
    background-size: cover;
    height: 150%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
           
 }

 .border{
    border: 1.5px solid transparent;

 }

 .border:hover{
    border: 1.5px solid white;
 }
 /** box2 **/
 .add-first{
    color: #cccccc;
    font-size: 10px;
    margin-left: 18px;
    align-items: center;
    margin-top: 20px;
 }

 .add-second{
    color:#ffffff;
    font-size: 15px;
    margin-left: 5px;
 }

 .add-icon{
    display:flex;
    align-items: center;
    margin-left: 2px;
 }
 
 .menu{
   display: flex;
   align-items: center;
   margin-bottom: 13px;
   margin-left: 1200px;
   padding: 5px;
 }

.secbar{
   background-color: teal;
   display: flex;
}
.left{
   background-color:blue;
   width: 60%;
   height: 500px;
}
.right{
   background-color: aquamarine;
   flex-grow: 1;
}